@{
    ViewData["Title"] = "Store Project";
}

<div class="text-center">
    <h1 class="display-4">Store Project</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Show Products</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Create">Create Product</a>
</div>
